{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
 	{% block content %}
<!--//header-top-->
 <!-- //Line Slider -->
		<div class="top_banner two">
			<div class="container">
			       <div class="sub-hd-inner">
						<h3 class="tittle"><span>О нас</span></h3>
					</div>
			</div>
		</div>
		<div class="main-textgrids">
				 		<div class="container">
				 			<div class="col-md-5 ab-pic">
				 					<img src="{% static 'images/ab.jpg' %}" alt=" " />

				 			</div>
				 			<div class="col-md-7 ab-text">
				 				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris. Fusce velit justo, faucibus eu sagittis ac, gravida quis tortor. Suspendisse non urna mi, quis tincidunt eros. Nullam tellus turpis, fringilla sit amet congue ut, luctus a nulla. Donec sit amet sapien neque, id ullamcorper diam. Nulla facilisi. Pellentesque pellentesque arcu a elit congue lacinia.</p>
								<ul class="ab">
									<li><a href="single.html">Lorem ipsum dolor sit amet,consectetur adipiscing elit</a></li>
									<li><a href="single.html">Pellentesque eu erat lacus,consectetur adipiscing elit</a></li>
									<li><a href="single.html">Lorem ipsum dolor sit amet,consectetur adipiscing elit</a></li>
									<li><a href="single.html">Lorem ipsum dolor sit amet,consectetur adipiscing elit</a></li>
									<li><a href="single.html">Pellentesque eu erat lacus,consectetur adipiscing elit</a></li>
								</ul>
				 			</div>
				 			<div class="clearfix"> </div>
				 			<div class="statements">
					 			<div class="col-md-7 mission">
					 					<h4>Mission <span>Statement</span></h4>
					 					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris. Fusce velit justo, faucibus eu sagittis ac, gravida quis tortor. Suspendisse non urna mi, quis tincidunt eros. Nullam tellus turpis, fringilla sit amet congue ut, luctus a nulla. Donec sit amet sapien neque, id ullamcorper diam. Nulla facilisi. Pellentesque pellentesque arcu a elit congue lacinia.</p>
										<ul class="ab">
												<li><a href="single.html">Lorem ipsum dolor sit amet,consectetur adipiscing elit</a></li>
												<li><a href="single.html">Pellentesque eu erat lacus,consectetur adipiscing elit</a></li>
												<li><a href="single.html">Lorem ipsum dolor sit amet,consectetur adipiscing elit</a></li>
												<li><a href="single.html">Lorem ipsum dolor sit amet,consectetur adipiscing elit</a></li>
												<li><a href="single.html">Pellentesque eu erat lacus,consectetur adipiscing elit</a></li>
											</ul>
					 			</div>
					 			<div class="col-md-5 facts">
					 					<img src="{% static 'images/ab1.jpg' %}" alt=" " />

					 					
					 			</div>
					 			<div class="clearfix"> </div>
					 		</div>
				 		</div>
				 </div>
<!--//team-->
<!-- <div class="team_agile">
	<div class="container">
		   <div class="sub-hd two">
						<h3 class="tittle two">MEET THE <span class="two">SPECIALISTS</span></h3>
					</div>
		<div class="col-md-4 team_bottom-grid">
			<div class="btm-right">
				<img src="{% static 'images/10.jpg' %}" alt=" ">
					<div class="captn-icon">
						<ul>
							<li><a class="fb" href="#"></a></li>
							<li><a class="twit" href="#"></a></li>
							<li><a class="goog" href="#"></a></li>
						</ul>
					</div>
					<div class="captn">
						<h4>Michael Carl</h4>	
					</div>
			</div>
		</div>
		<div class="col-md-4 team_bottom-grid our_marg">
			<div class="btm-right">
				<img src="{% static 'images/9.jpg' %}" alt=" " />
					<div class="captn-icon">
						<ul>
							<li><a class="fb" href="#"></a></li>
							<li><a class="twit" href="#"></a></li>
							<li><a class="goog" href="#"></a></li>
						</ul>
					</div>
					<div class="captn">
						<h4>Joy Allen</h4>	
					</div>
			</div>
		</div>
		<div class="col-md-4 team_bottom-grid">
			<div class="btm-right">
				<img src="{% static 'images/11.jpg' %}" alt=" ">
					<div class="captn-icon">
						<ul>
							<li><a class="fb" href="#"></a></li>
							<li><a class="twit" href="#"></a></li><li>
							<a class="goog" href="#"></a></li>
						</ul>
					</div>
					<div class="captn">
						<h4>Williams Allen</h4>	
					</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>			 -->
<!--//team-->
		<!--medicinal-->
			<div class="medicinal-w3">
				<div class="container">
					<div class="sub-hd">
						<h3 class="tittle two">НАШИ <span>УСЛУГИ</span></h3>
					</div>
					<div class="medicinal-w3-grids one">
						<table class="services">
							<tr>
								<td class="service"><span><a href="{% url 'main:linkcheckbox' id=1 %}" class="service-link">&#10023;Первичный прием
											врача-кардиолога (с регистрацией и расшифровкой
											ЭКГ)</a></span></td>
								<td class="price"><span>590грн</span></td>
							</tr>
							<tr>
								<td class="service"><span><a href="{% url 'main:linkcheckbox' id=2 %}" class="service-link">&#10023;Повторный прием
											врача-кардиолога (с регистрацией и расшифровкой
											ЭКГ)</a></span></td>
								<td><span>540грн</span></td>
							</tr>
							<tr>
								<td class="service"><span><a href="{% url 'main:linkcheckbox' id=3 %}" class="service-link">&#10023;Консультация
											врача-кардиолога на дому у пациента (с регистрацией и
											расшифровкой ЭКГ)</a></span></td>
								<td><span>990грн</span></td>
							</tr>
							<tr>
								<td class="service"><span><a href="{% url 'main:linkcheckbox' id=4 %}" class="service-link">&#10023;Регистрация и
											расшифровка ЭКГ</a></span></td>
								<td><span>220грн</span></td>
							</tr>
							<tr>
								<td class="service"><span><a href="{% url 'main:linkcheckbox' id=5 %}" class="service-link">&#10023;Регистрация и
											расшифровка ЭКГ с ритмограммой</a></span></td>
								<td><span>290грн</span></td>
							</tr>
							<tr>
								<td class="service"><span><a href="{% url 'main:linkcheckbox' id=6 %}"
											class="service-link">&#10023;Суточное(холтеровское) мониторирование ЭКГ</a></span></td>
								<td><span>550грн</span></td>
							</tr>
							<tr>
								<td class="service"><span><a href="{% url 'main:linkcheckbox' id=7 %}" class="service-link">&#10023;Суточное
											мониторирование артериального давления</a></span></td>
								<td><span>450грн</span></td>
							</tr>
						</table>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="medicinal-w3-grids">
			
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!--medicinal-->
			<!-- <div class="grid_2" id="tender">
   	 <div class="container">
	       <div class="sub-hd">
						<h3 class="tittle">SUCCESSFUL <span>STORIES</span></h3>
					</div>
   	  <div class="box_1 one">
   	 	<div class="col-md-6">
   	 	       <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="{% static 'images/n1.jpg' %}" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
   	 	<div class="col-md-6">
   	 	      <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="{% static 'images/n5.jpg' %}" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
   	  </div>
   	  <div class="box_2">
   	 	<div class="col-md-6">
   	 	       <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="{% static 'images/n3.jpg' %}" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
   	 	<div class="col-md-6">
   	 	      <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="{% static 'images/n4.jpg' %}" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
   	  </div>
   	 </div>
   </div> -->
   <!--//news-->
<div class="timetable">
	<div class="container">
		<div class="bottom-top">
			<h3 style="margin-bottom: 30px;"><span class="opening">ВРЕМЯ РАБОТЫ</span></h3>
			<!-- <p>Phasellus tempor erat id erat gravida pulvinar. Aenean est felis, ullamcorper et volutpat sed, cursus at enim. Vestibulum vel finibus neque. In sed magna tellus.</p> -->
			<div class="opening_hours">
				<ul class="times">
					<!-- <h4>Opening <span class="opening">Hours</span></h4> -->
					<li><i class="glyphicon glyphicon-time"> </i><span class="week">Понедельник</span>
						<div class="hours">9:00 – 19:00</div>
						<div class="clearfix"></div>
					</li>
					<li><i class="glyphicon glyphicon-time"> </i><span class="week">Вторник</span>
						<div class="hours">9:00 – 19:00</div>
						<div class="clearfix"></div>
					</li>
					<li><i class="glyphicon glyphicon-time"> </i><span class="week">Среда</span>
						<div class="hours">9:00 – 19:00</div>
						<div class="clearfix"></div>
					</li>
					<li><i class="glyphicon glyphicon-time"> </i><span class="week">Четверг</span>
						<div class="hours">9:00 – 19:00</div>
						<div class="clearfix"></div>
					</li>
					<li><i class="glyphicon glyphicon-time"> </i><span class="week">Пятница</span>
						<div class="hours">9:00 – 19:00</div>
						<div class="clearfix"></div>
					</li>
					<li><i class="glyphicon glyphicon-time"> </i><span class="week">Суббота</span>
						<div class="hours">10:00 – 16:00</div>
						<div class="clearfix"></div>
					</li>
					<li><i class="glyphicon glyphicon-time"> </i><span class="week">Воскресенье</span>
						<div class="hours">Выходной</div>
						<div class="clearfix"></div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
  
	{% endblock %}