{% extends 'base.html' %}
{% load static %}
{% block title %}Записаться{% endblock %}
{% block content %}

<script type="text/javascript">
	var action = {{ checkbox_id }};
</script>
<script type="text/javascript" src="{% static 'js/appointment_form.js' %}"></script>
<div class="contact-top">
	<div class="container">
	<div class="contact-form">
		{% if form %}
		<form method="post">
		<div class="left_form">
			<div>
				<span><label>ФИО:</label></span>
				<span>{{ form.name }}</span>
			</div>
			<div>
				<span><label>Возраст:</label></span>
				<span>{{ form.age }}</span>
			</div>
			<div>
				<span><label>Контактный номер телефона:</label></span>
				<span>{{ form.phone }}</span>
			</div>
		</div>
		<div class="right_form">
			<div>
				<span><label>Прием:</label></span>
				<span>{{ form.destination }}</span>
			</div>
			<div>
				<span><label>Выберите услугу/услуги:</label></span>
				<p class="action-form">{{ form.action1 }} <span name="action1">{{ form.action1.label }}</span></p>
				<p class="action-form">{{ form.action2 }} <span name="action2">{{ form.action2.label }}</span></p>
				<p class="action-form">{{ form.action3 }} <span name="action3">{{ form.action3.label }}</span></p>
				<p class="action-form">{{ form.action4 }} <span name="action4">{{ form.action4.label }}</span></p>
				<p class="action-form">{{ form.action5 }} <span name="action5">{{ form.action5.label }}</span></p>
				<p class="action-form">{{ form.action6 }} <span name="action6">{{ form.action6.label }}</span></p>
			</div>
			<div>
				<span><input type="submit" name="done" value="Отправить" class="myButton"></span>
			</div>
			{% csrf_token %}
		</div>
		</form>
		{% else %}
		<div class="top_banner two">
			<div class="container">
				<div class="sub-hd-inner">
					<h3 class="tittle">Спасибо за Ваши ответы. Мы Вам перезвоним в течении получаса или в ближайшее рабочее время.</h3>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	</div>
	</div>
{{message}}<br/>

{% endblock %}
