{% load static %} 
{% load main_tags %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="{% static 'img/Logo.png' %}"
      type="image/x-icon"
    />
    <script src="{% static 'js/adaptive-menu.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% block imports %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}" />
  </head>
  <body>
    <header class="page-header">
      <div class="container page-header-cont">
        <nav class="header-nav">
          <a href="{% url 'main:home' %}" class="header-logo-link">
            <svg class="header-logo">
              <use href="{% static 'img/icons.svg' %}#logo"></use>
            </svg>
          </a>

          <!-- Adaptive -->
          <!-- Adaptive with icon -->
          <ul class="mobile-menu topnav nav-list-adaptive" id="myTopnav">
            <li class="nav-list-item">
              <a href="{% url 'main:home' %}">Головна</a>
            </li>
            <li class="nav-list-item">
              <a href="{% url 'main:services' %}">Послуги</a>
            </li>
            <li class="nav-list-item">
              <a href="{% url 'main:info' %}">Інформація</a>
            </li>
            <li class="nav-list-item">
              <a href="{% url 'main:contacts' %}">Контакти</a>
            </li>
            <li>
              <a
                class="icon mobile-menu-close close-modal"
                onclick="myFunction()"
              >
                <svg width="18" height="18">
                  <use href="{% static 'img/icons.svg' %}#close"></use>
                </svg>
              </a>
            </li>
          </ul>

          <a class="icon hamburger-menu" onclick="myFunction()">
            <svg width="32" height="32">
              <use href="{% static 'img/icons.svg' %}#menu"></use>
            </svg>
          </a>

          <ul class="nav-list">
            <li class="nav-list-item">
              <a href="{% url 'main:home' %}">Головна</a>
            </li>
            <li class="nav-list-item">
              <a href="{% url 'main:services' %}">Послуги</a>
            </li>
            <li class="nav-list-item">
              <a href="{% url 'main:info' %}">Інформація</a>
            </li>
            <li class="nav-list-item">
              <a href="{% url 'main:contacts' %}">Контакти</a>
            </li>
          </ul>
        </nav>

        <ul class="contacts-list">
          <li class="contacts-list-item">
            <a target="_blank" href="tel:380678040363">
              <svg>
                <use href="{% static 'img/icons.svg' %}#phone"></use>
              </svg>
              +380 67 804 03 63</a
            >
          </li>

          <li class="contacts-list-item">
            <a target="_blank" href="mailto:kaplan.cardio@gmail.com">
              <svg>
                <use href="{% static 'img/icons.svg' %}#email"></use>
              </svg>
              kaplan.cardio@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </header>

    {% block content %} {% endblock %}
    <!-- Modal window -->
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button class="close-modal" data-modal-close>
          <svg class="close-icon">
            <use href="{% static '/img/icons.svg' %}#close"></use>
          </svg>
        </button>

        <!-- <form method="post">
		<div class="left_form">
			<div>
				<span><label>ФИО:</label></span>
				<span><input type="text" name="name" class="myfieldclass" maxlength="100" required id="id_name"></span>
			</div>
			<div>
				<span><label>Возраст:</label></span>
				<span><input type="text" name="age" class="myfieldclass" required id="id_age"></span>
			</div>
			<div>
				<span><label>Контактный номер телефона:</label></span>
				<span><input type="text" name="phone" class="myfieldclass" maxlength="11" required id="id_phone"></span>
			</div>
		</div>
		<div class="right_form">
			<div>
				<span><label>Прием:</label></span>
				<span><ul id="id_destination" class="myfieldclass">
    <li><label for="id_destination_0"><input type="radio" name="destination" value="Первичный" class="myfieldclass" required id="id_destination_0">
 Первичный</label>

</li>
    <li><label for="id_destination_1"><input type="radio" name="destination" value="Повторный" class="myfieldclass" required id="id_destination_1">
 Повторный</label>

</li>
</ul></span>
			</div>
			<div>
				<span><label>Выберите услугу/услуги:</label></span>
				<p class="action-form"><input type="checkbox" name="action1" id="id_action1"> <span name="action1">Приём врача-кардиолога (с регистрацией и расшифровкой ЭКГ)</span></p>
				<p class="action-form"><input type="checkbox" name="action2" id="id_action2"> <span name="action2">Консультация врача-кардиолога на дому у пациента (с регистрацией и расшифровкой ЭКГ)</span></p>
				<p class="action-form"><input type="checkbox" name="action3" id="id_action3"> <span name="action3">Регистрация и расшифровка ЭКГ</span></p>
				<p class="action-form"><input type="checkbox" name="action4" id="id_action4"> <span name="action4">Регистрация и расшифровка ЭКГ с ритмограммой</span></p>
				<p class="action-form"><input type="checkbox" name="action5" id="id_action5"> <span name="action5">Суточное (холтеровское) мониторирование ЭКГ</span></p>
				<p class="action-form"><input type="checkbox" name="action6" id="id_action6"> <span name="action6">Суточное мониторирование артериального давления</span></p>
			</div>
			<div>
				<span><input type="submit" name="done" value="Отправить" class="myButton"></span>
			</div>
			<input type="hidden" name="csrfmiddlewaretoken" value="KTPvhmICjH2vLp8oe9xshtC8APR5oxmMlU6o1O7SDZUCummfi5j2sVnu0Fkht2Xt">
		</div>
		</form> -->

        <h2>Зареєструватися на прийом:</h2>

        <form action="{% url 'main:appointment_checkout' %}" method="post">
          {% csrf_token %}
          <ul>
            <li>
              <p class="main-text">ФІО:</p>
              <input type="text" name="name" required id="id_name" />
            </li>
            <li>
              <p class="main-text">Вік:</p>
              <input type="text" name="age" required id="id_age" />
            </li>
            <li>
              <p class="main-text">Номер телефону:</p>
              <input type="text" name="phone" required id="id_phone" />
            </li>

            <!-- Adaptive -->
            <li class="submit-adaptive"><input type="submit" value="Надіслати" /></li>
          </ul>

          <ul id="id_destination">
            <li class="appointment-input">
              <p class="main-text">Прийом:</p>
              <label>
                <input
                  type="radio"
                  name="destination"
                  value="Первичный"
                  id="id_destination_0"
                />
                Первинний </label
              ><br />
              <label>
                <input
                  type="radio"
                  name="destination"
                  value="Повторный"
                  id="id_destination_1"
                />
                Повторний
              </label>
            </li>
            <li class="services-input">
              <p class="main-text">Послуга/послуги:</p>
              <label
                ><input
                  type="checkbox"
                  name="action1"
                  id="id_action1"
                />Первинний прийом лікаря - кардіолога (з реєстрацією і
                розшифровкою ЕКГ)</label
              >
              <label
                ><input
                  type="checkbox"
                  name="action1"
                  id="id_action1"
                />Консультація лікаря - кардіолога на дому у пацієнта (з
                реєстрацією і розшифровкою ЕКГ)</label
              >
              <label
                ><input
                  type="checkbox"
                  name="action2"
                  id="id_action2"
                />Повторний прийом лікаря - кардіолога (з реєстрацією і
                розшифровкою ЕКГ)</label
              >
              <label
                ><input
                  type="checkbox"
                  name="action3"
                  id="id_action3"
                />Реєстрація та розшифровка ЕКГ</label
              >
              <label
                ><input
                  type="checkbox"
                  name="action4"
                  id="id_action4"
                />Реєстрація та розшифровка ЕКГ з ритмограмою</label
              >
              <label
                ><input type="checkbox" name="action5" id="id_action5" />Добове
                (холтерівське) моніторування ЕКГ</label
              >
              <label
                ><input type="checkbox" name="action6" id="id_action6" />Добове
                моніторування артеріального тиску</label
              >
            </li>
            <li>
              <input type="submit" value="Зареєструватися" />
            </li>
          </ul>
        </form>
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <section class="footer-left">
          <a href="{% url 'main:home' %}"
            ><svg class="footer-logo">
              <use href="{% static 'img/icons.svg' %}#logo"></use>
            </svg>
          </a>

          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <a target="_blank" href="https://goo.gl/maps/z97rL7C2HWEi3acW6"
                >м. Дніпро, вул. Костомарівська 8<br />(будівля спорткомплексу
                "Динамо")</a
              >
            </li>

            <li class="footer-contacts-item">
              <a target="_blank" href="mailto:kaplan.cardio@gmail.com">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#email"></use>
                </svg>
                kaplan.cardio@gmail.com</a
              >
            </li>

            <li class="footer-contacts-item">
              <a target="_blank" href="tel:380678040363">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#phone"></use>
                </svg>
                +380 67 804 03 63</a
              >
            </li>
          </ul>
        </section>

        <section class="social-links">
          <h2 class="social-links-title">Долучайтесь</h2>

          <ul class="social-links-list">
            <li class="social-links-item">
              <a target="_blank" href="https://instagram.com/kaplan.cardio">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#instagram"></use>
                </svg>
              </a>
            </li>

            <li class="social-links-item">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=100069568995073">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#facebook"></use>
                </svg>
              </a>
            </li>

            <li class="social-links-item">
              <a target="_blank" href="tg://resolve?domain=kaplan_cardio_bot">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#telegram"></use>
                </svg>
              </a>
            </li>

            <li class="social-links-item">
              <a target="_blank" href="viber://chat?number=%2B380678040363">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#viber"></use>
                </svg>
              </a>
            </li>

            <li class="social-links-item">
              <a target="_blank" href="https://wa.me/380678040363">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </section>

        <section class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2645.82341126304!2d35.03286330563295!3d48.45991764139793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x151dd496c2b33ba0!2sKaplan%20Cardiology!5e0!3m2!1sru!2sua!4v1627409013805!5m2!1sru!2sua"
            width="663"
            height="210"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </section>
      </div>
    </footer>

    <!-- Fixed button to register -->
    <button class="fixed-button" type="button" data-modal-open-fixed>
    Реєстрація
    </button>

    <script src="{% static 'js/modal.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-209101297-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-209101297-1");
    </script>
  </body>
</html>
