{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
 	{% block content %}
<!--//header-top-->
 <!-- //Line Slider -->
		<div class="top_banner two">
			<div class="container">
			       <div class="sub-hd-inner">
						<h3 class="tittle">Контакты</h3>
					</div>
			</div>
		</div>
	<!--/contact-->		
		<div class="contact-top">
		    <div class="container">
				  <div class="contact-text">
				    <div class="con-text">
					  <p><a href="mailto:kaplan.cardio@gmail.com"> kaplan.cardio@gmail.com</a></p>
				     <p><a href="tel:380678040363">+380 67 804 03 63</a></p>
					 <h6>г. Днепр, ул. Костомаровская 8(здание спорткомпллекса "Динамо")</h6>
				  </div>
				 </div>
				<div class="contact-form" style="text-align: center;">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5291.605822725337!2d35.03212947488026!3d48.46031094940272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x76f026344fc8eab1!2z0JPQvtGC0LXQu9GMICLQlNC40L3QsNC80L4i!5e0!3m2!1sru!2sua!4v1622915849645!5m2!1sru!2sua"
					width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					    	
				  </div> 
				</div>
		</div>
		<br><br><br>
	<!--//contact-->	

	  {% endblock %}