{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
 	{% block content %}
<!--//header-top-->
 <!-- //Line Slider -->
		<div class="top_banner two">
			<div class="container">
			       <div class="sub-hd-inner">
						<h3 class="tittle">Контакты</h3>
					</div>
			</div>
		</div>
	<!--/contact-->		
		<div class="contact-top">
		    <div class="container">
				  <div class="contact-text">
				    <div class="con-text">
					  <p><a href="mailto:kaplan.cardio@gmail.com"> kaplan.cardio@gmail.com</a></p>
				     <p><a href="tel:380678040363">+380 67 804 03 63</a></p>
					 <h6>г. Днепр, ул. Костомаровская 8(здание спорткомпллекса "Динамо")</h6>
				  </div>
				 </div>
				<!-- <div class="contact-form">
					     <form method="post" action="#" class="left_form">
					    	<div>
						    	<span><label>NAME</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-MAIL</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Fax</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
					    </form>
					    <form class="right_form">
								<div>					    	
									<span><label>SUBJECT</label></span>
									<span><textarea name="userMsg"> </textarea></span>
								</div>
							   <div>
									<span><input type="submit" value="Submit" class="myButton"></span>
							  </div>
					    </form>
					    <div class="clearfix"></div>
				  </div> -->
			</div>
		</div>
	<!--//contact-->	

	  {% endblock %}