{% extends "base.html" %} {% load static %} {% block title %}Головна{% endblock
%} {% block imports %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} {% block content %}
<main>
  <section class="section hero">
    <div class="container">
      <h1 class="hero-title">Кардіологічний кабінет<br />Каплана П. О.</h1>

      <button type="button" data-modal-open>Записаться</button>
    </div>
  </section>

  <section class="section welcome">
    <div class="container">
      <h2 class="section-title">Ласкаво просимо!</h2>

      <p class="main-text">
        Консультативний прийом веде лікар-кардіолог вищої категорії, доцент,
        кандидат медичних наук, автор безлічі наукових праць з кардіології, член
        Європейського товариства кардіологів
        <span class="important"><br />Каплан Павло Олександрович.</span><br />
        Досвід роботи: <span class="important">22 роки</span>
      </p>
    </div>
  </section>

  <section class="section time">
    <div class="container">
      <h2 class="section-title">ЧАС РОБОТИ</h2>

      <div class="time-lists-container">
        <ul class="days-list">
          <li class="days-item main-text">
            <svg>
              <use href="{% static 'img/icons.svg' %}#clock"></use>
            </svg>
            Понеділок
          </li>
          <li class="days-item main-text">
            <svg>
              <use href="{% static 'img/icons.svg' %}#clock"></use>
            </svg>
            Вівторок
          </li>
          <li class="days-item main-text">
            <svg>
              <use href="{% static 'img/icons.svg' %}#clock"></use>
            </svg>
            Середа
          </li>
          <li class="days-item main-text">
            <svg>
              <use href="{% static 'img/icons.svg' %}#clock"></use>
            </svg>
            Четвер
          </li>
          <li class="days-item main-text">
            <svg>
              <use href="{% static 'img/icons.svg' %}#clock"></use>
            </svg>
            П'ятниця
          </li>
          <li class="days-item main-text">
            <svg>
              <use href="{% static 'img/icons.svg' %}#clock"></use>
            </svg>
            Субота
          </li>
          <li class="days-item main-text">
            <svg>
              <use href="{% static 'img/icons.svg' %}#clock"></use>
            </svg>
            Неділя
          </li>
        </ul>

        <ul class="time-list">
          <li class="time-item main-text">09:00 - 19:00</li>
          <li class="time-item main-text">09:00 - 19:00</li>
          <li class="time-item main-text">09:00 - 19:00</li>
          <li class="time-item main-text">09:00 - 19:00</li>
          <li class="time-item main-text">09:00 - 19:00</li>
          <li class="time-item main-text">10:00 - 16:00</li>
          <li class="time-item main-text">Вихідний</li>
        </ul>
      </div>
    </div>
  </section>
</main>

{% endblock %}
