{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
 	{% block content %}
	 <div class="top_banner">
		<!-- SVG Arrows -->
		<div class="svg-wrap">
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
			</svg>
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
			</svg>
		</div>
		
		<div class="sleekslider">
			<!-- Slider Pages -->
			<div class="slide active bg-1">
				<div class="slide-container">
					<div class="slide-content">
						<p><span style="font-family: Brush Script MT, Brush Script Std, cursive;">Добро пожаловать</span>!</p>	
					</div>

				</div>
			</div>
			<div class="slide bg-2">
				<div class="slide-container">
					<div class="slide-content">
						<p><span style="font-family: Brush Script MT, Brush Script Std, cursive;">"Легкое сердце живет долго"</span><br><span style="font-family: URW Chancery L, cursive; font-style: italic; font-size: smaller; font-weight: lighter;">Уильям Шекспир</span></p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-3">
				<div class="slide-container">
					<div class="slide-content">
						<p><span style="font-family: Brush Script MT, Brush Script Std, cursive;">"Сердце, разум и сознанье целью связаны одной.</span>
							<br>
							<span style="font-family: Brush Script MT, Brush Script Std, cursive;">Если сердце исчезает - остальных берет с собой"</span>
							<br>
							<span style="font-family: URW Chancery L, cursive; font-style: italic; font-size: smaller; font-weight: lighter;">Шотa Руставели</span>
						</p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-4">
				<div class="slide-container">
					<div class="slide-content">
					<p><span style="font-family: Brush Script MT, Brush Script Std, cursive;">"Избрав цель, иди к ней всем сердцем"</span><br><span
						style="font-family: URW Chancery L, cursive; font-style: italic; font-size: smaller; font-weight: lighter;">Конфуций</span></p>		

					</div>
				</div>				
			</div>
			<div class="slide bg-5">
				<div class="slide-container">
					<div class="slide-content">
					<p><span style="font-family: Brush Script MT, Brush Script Std, cursive;">"О мужественное сердце разбиваются все невзгоды"</span><br><span
						style="font-family: URW Chancery L, cursive; font-style: italic; font-size: smaller; font-weight: lighter;">Мигель де Сервантес</span></p>	

					</div>
				</div>				
			</div>

			<!-- Navigation Arrows with Thumbnails -->

			<!-- Pagination -->
			<nav class="pagination">
				<span class="current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

			<!-- Navigation Tabs -->
			<!-- <nav class="tabs">
				<div class="tab-container">
					<ul>
						<li class="current"><a href="#"><span>01</span> Slide</a></li>
						<li><a href="#"><span>02</span> Slide</a></li>
						<li><a href="#"><span>03</span> Slide</a></li>
						<li><a href="#"><span>04</span> Slide</a></li>
						<li><a href="#"><span>05</span> Slide</a></li>
					</ul>
				</div>
			</nav>
		</div> -->

		<!-- JavaScripts -->
		<script type="text/javascript" src="{% static 'js/sleekslider.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
      <!--welcome-->
 </div>

        <!-- /Line Slider -->
	</div>
    <!--footer-->
	
		<!-- Services -->
		<div class="services" id="services">
			<div class="container">

				<div class="inner-w3">
					    <div class="sub-hd">
						<h3 class="tittle"><span>О НАС</span></h3>
					</div>
					</div>
				 
				<div class="inner_tabs">
				    <h2 class="tittle">Добро пожаловать!</h2>
					<p class="sub-para">Консультативный прием ведет врач-кардиолог <span style="font-weight: bolder;">высшей категории</span>, доцент, кандидат медецинских наук, автор множества научных работ по кардиологии, член Европейского общества кардиологов
						<br><span style="text-align: center; font-size: larger; font-weight: bolder;">Каплан Павел Александрович.</span><br> Опыт работы: <span style="font-weight: bolder;">22 года</span></p>
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Гипертензия</a></li>
							<li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Стенокардия</a></li>
							<li role="presentation"><a href="#tree" role="tab" id="tree-tab" data-toggle="tab" aria-controls="tree">Атеросклероз</a></li>
							<li role="presentation"><a href="#safari" role="tab" id="safari-tab" data-toggle="tab" aria-controls="safari">Обращаться:</a></li>
							<li role="presentation"><a href="#trekking" role="tab" id="trekking-tab" data-toggle="tab" aria-controls="trekking">Лечим:</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="{% static 'images/4.jpg' %}" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info art">
									<p id="art">Артериальная гипертензия — это патологическое повышение давления выше показателя в 130-140/85-90 мм. рт. ст. Тревожные
									признаки, свидетельствующие о развитии гипертонического кризиса:
									<ul class="list" type="disc">
										<li>головная боль;</li>
										<li>боль в области грудной клетки;</li>
										<li>головокружение;</li>
										<li>слабость;</li>
										<li>одышка;</li>
										<li>ощущение тревожности;</li>
									</ul>
								</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="{% static 'images/8.jpg' %}" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info art">
									<p id="art">Стенокардия проявляется приступами сердечной боли, в результате недостаточного снабжения миокарда кровью. Основной
									причиной является ишемия, развивающаяся на фоне многолетнего отложения на внутренних стенках артерий атеросклеротических
									бляшек.
									Любые тревожные признаки, характеризующие патологические процессы в сердце — это повод незамедлительно отправиться к
									кардиологу. Каждый клинический случай стенокардии уникален — он спровоцирован различными факторами, имеет различную
									степень выраженности, поэтому без индивидуальной диагностики и разработанной конкретно для ВАС программы лечения одолеть
									болезнь не получится.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="tree" aria-labelledby="tree-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="{% static 'images/5.jpg' %}" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info art">
									<p id="art"> Атеросклероз — опасное заболевание, характеризующееся жировыми отложениями(атеросклеротическими бляшками) на внутренних
									стенках артерий, в результате чего затрудняется кровоток и нарушается питание тканей организма. При разрастании бляшек,
									их целостность может нарушаться и они превращаются в тромбы, которые перемещаются по сосудам, закупоривая просвет. В
									результате развиваются инфаркты и инсульты.
									Прогрессирование болезни достаточно медленное, может протекать без видимых проявлений несколько лет. Первые признаки,
									ощутимые для человека, начинаются с момента закупорки просвета более чем на три четверти.
									Атеросклероз можно предотвратить или максимально снизить темп его развития. Своевременное обращение к специалисту
									поможет предотвратить тяжелые последствия этого заболевания.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="{% static 'images/6.jpg' %}" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info art">
									<p id="art"><h4 style="font-weight: bolder;">Когда нужно обращаться к кардиологу?</h4>
									К кардиологу нужно обратиться каждому мужчине старше 40 и женщине старше 50 лет. Даже если нет никаких симптомов, ничего
									не беспокоит и на первый взгляд все отлично. Также кардиолога нужно посетить если возникли симптомы, которые могут
									указывать на развитие сердечно-сосудистых заболеваний:
									боли в области грудной клетки
									одышка, нарушение дыхания
									замедленное или учащенное сердцебиение
									потеря сознания или предобморочные состояния
									скачки давления</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="trekking" aria-labelledby="trekking-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="{% static 'images/7.jpg' %}" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info art">
									<p id="art"><h4 style="font-weight: bolder;">Какие болезни лечит кардиолог?</h4>
										<h6 style="font-weight: bold;">Специалист занимается диагностикой и лечением:</h6>
										<ul>
											<li>Ишемической болезни сердца</li>
											<li>Пороки сердца врожденные и приобретенные</li>
											<li>Кардиты</li>
											<li>Сердечная недостаточность</li>
											<li>Расстройство сердечного ритма</li>
											<li>Гипертоническая болезнь</li>
											<li>Тромбофлебиты, тромбозы</li>
											<li>Прединфарктные состояния, инфаркты</li>
											<li>Аневризмы</li>
										</ul>
									</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>

				
			</div>
		</div>
		<!-- //Services -->
		<!--medicinal-->
			<div class="medicinal-w3">
				<div class="container">
				    <div class="sub-hd">
						<h3 class="tittle two">НАШИ <span>УСЛУГИ</span></h3>
					</div>
					<div class="medicinal-w3-grids one">
							<table class="services">
								<tr>
									<td class="service"><span><a href="{% url 'main:linkcheckbox' id=1 %}" class="service-link">&#10023;Первичный прием
												врача-кардиолога (с регистрацией и расшифровкой
												ЭКГ)</a></span></td>
									<td class="price"><span>590грн</span></td>
								</tr>
								<tr>
									<td class="service"><span><a href="{% url 'main:linkcheckbox' id=2 %}" class="service-link">&#10023;Повторный прием
												врача-кардиолога (с регистрацией и расшифровкой
												ЭКГ)</a></span></td>
									<td><span>540грн</span></td>
								</tr>
								<tr>
									<td class="service"><span><a href="{% url 'main:linkcheckbox' id=3 %}" class="service-link">&#10023;Консультация
												врача-кардиолога на дому у пациента (с регистрацией и
												расшифровкой ЭКГ)</a></span></td>
									<td><span>990грн</span></td>
								</tr>
								<tr>
									<td class="service"><span><a href="{% url 'main:linkcheckbox' id=4 %}" class="service-link">&#10023;Регистрация и
												расшифровка ЭКГ</a></span></td>
									<td><span>220грн</span></td>
								</tr>
								<tr>
									<td class="service"><span><a href="{% url 'main:linkcheckbox' id=5 %}" class="service-link">&#10023;Регистрация и
												расшифровка ЭКГ с ритмограммой</a></span></td>
									<td><span>290грн</span></td>
								</tr>
								<tr>
									<td class="service"><span><a href="{% url 'main:linkcheckbox' id=6 %}"
												class="service-link">&#10023;Суточное(холтеровское) мониторирование ЭКГ</a></span></td>
									<td><span>550грн</span></td>
								</tr>
								<tr>
									<td class="service"><span><a href="{% url 'main:linkcheckbox' id=7 %}" class="service-link">&#10023;Суточное
												мониторирование артериального давления</a></span></td>
									<td><span>450грн</span></td>
								</tr>
							</table>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="medicinal-w3-grids">
						
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				
   <!--//news-->
   <div class="timetable">
		<div class="container">
			<div class="bottom-top">
				<h3 style="margin-bottom: 30px;"><span class="opening">ВРЕМЯ РАБОТЫ</span></h3>
				<!-- <p>Phasellus tempor erat id erat gravida pulvinar. Aenean est felis, ullamcorper et volutpat sed, cursus at enim. Vestibulum vel finibus neque. In sed magna tellus.</p> -->
				<div class="opening_hours">
						 <ul class="times">
							<!-- <h4>Opening <span class="opening">Hours</span></h4> -->
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Понедельник</span><div class="hours">9:00 – 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Вторник</span><div class="hours">9:00 – 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Среда</span><div class="hours">9:00 – 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Четверг</span><div class="hours">9:00 – 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Пятница</span><div class="hours">9:00 – 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Суббота</span><div class="hours">10:00 – 16:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Воскресенье</span><div class="hours">Выходной</div>  <div class="clearfix"></div></li>
	
						 </ul>
					</div>
			</div>
		</div>
</div>
   <!--/reviews-->
	{% endblock %}