{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block imports %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
    <main>
      <section class="section hero">
        <div class="container">
          <h1 class="hero-title">
            Кардиологический кабинет<br />доктора Каплана П. А.
          </h1>

          <button type="button" data-modal-open>Записаться</button>
        </div>
      </section>

      <section class="section welcome">
        <div class="container">
          <h2 class="section-title">добро пожаловать!</h2>

          <p class="main-text">
            Консультативный прием ведет врач-кардиолог высшей категории, доцент,
            кандидат медицинских наук, автор множества научных работ по
            кардиологии, член Европейского общества кардиологов
            <span class="important"><br />Каплан Павел Александрович.</span
            ><br />
            Опыт работы: <span class="important">22 года</span>
          </p>
        </div>
      </section>

      <section class="section time">
        <div class="container">
          <h2 class="section-title">ВРЕМЯ РАБОТЫ</h2>

          <div class="time-lists-container">
            <ul class="days-list">
              <li class="days-item main-text">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#clock"></use>
                </svg>
                Понедельник
              </li>
              <li class="days-item main-text">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#clock"></use>
                </svg>
                Вторник
              </li>
              <li class="days-item main-text">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#clock"></use>
                </svg>
                Среда
              </li>
              <li class="days-item main-text">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#clock"></use>
                </svg>
                Четверг
              </li>
              <li class="days-item main-text">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#clock"></use>
                </svg>
                Пятница
              </li>
              <li class="days-item main-text">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#clock"></use>
                </svg>
                Суббота
              </li>
              <li class="days-item main-text">
                <svg>
                  <use href="{% static 'img/icons.svg' %}#clock"></use>
                </svg>
                Воскресенье
              </li>
            </ul>

            <ul class="time-list">
              <li class="time-item main-text">09:00 - 19:00</li>
              <li class="time-item main-text">09:00 - 19:00</li>
              <li class="time-item main-text">09:00 - 19:00</li>
              <li class="time-item main-text">09:00 - 19:00</li>
              <li class="time-item main-text">09:00 - 19:00</li>
              <li class="time-item main-text">10:00 - 16:00</li>
              <li class="time-item main-text">Выходной</li>
            </ul>
          </div>
        </div>
      </section>
    </main>

{% endblock %}
