{% extends "base.html" %} 
{% load static %} 
{% block title %}Інформація{% endblock %} 
{% block imports %}
<link rel="stylesheet" href="{% static 'css/info.css' %}" />
<script src="{% static 'js/jQuery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/index.js' %}" type="text/javascript"></script>
{% endblock %} {% block content %}
<main>
  <section class="info section">
    <div class="container">
      <h1 class="section-title">Інформація для пацієнта</h1>

      <ul class="info-list">
        <!-- Реализовать смену классов по нажатию на кнопку opened/closed -->
        <li class="info-item closed">
          <div class="info-title">
            <h2 class="section-title">Гіпертензія</h2>

            <button class="open">
              <svg width="25" height="25" class="info-icon">
                <use href="{% static 'img/icons.svg' %}#plus"></use>
              </svg>
            </button>
          </div>

          <div class="info-text">
            <p>
              <b>Артеріальна гіпертензія</b> — це патологічне підвищення тиску
              вище за показник в 130-140/85-90 мм. рт. ст. Тривожні ознаки, що
              свідчать про розвиток гіпертонічної кризи:
            </p>
            <ul>
              <li>головний біль;</li>
              <li>біль у ділянці грудної клітки;</li>
              <li>запаморочення;</li>
              <li>слабкість;</li>
              <li>задишка;</li>
              <li>відчуття тривожності.</li>
            </ul>
          </div>
        </li>
        <li class="info-item closed" name="li2">
          <div class="info-title">
            <h2 class="section-title">Стенокардія</h2>

            <button class="open" name="b2">
              <svg width="25" height="25" class="info-icon">
                <use href="{% static 'img/icons.svg' %}#plus"></use>
              </svg>
            </button>
          </div>

          <div class="info-text">
            <p>
              <b>Стенокардія</b> проявляється нападами серцевого болю, внаслідок
              недостатнього постачання міокарда кров'ю. Основний причиною є
              ішемія, що розвивається на тлі багаторічного відкладення на
              внутрішніх стінках артерій атеросклеротичних бляшок. Будь-які
              тривожні ознаки, що характеризують патологічні процеси в серці -
              це привід негайно вирушити до кардіологу. Кожен клінічний випадок
              стенокардії є унікальним — він спровокований різними факторами,
              має різний ступінь виразності, тому без індивідуальної діагностики
              та розробленої конкретно для ВАС програми лікування здолати
              хворобу не вийде
            </p>
          </div>
        </li>
        <li class="info-item closed" name="li3">
          <div class="info-title">
            <h2 class="section-title">Атеросклероз</h2>

            <button class="open" name="b3">
              <svg width="25" height="25" class="info-icon">
                <use href="{% static 'img/icons.svg' %}#plus"></use>
              </svg>
            </button>
          </div>

          <div class="info-text">
            <p>
              <b>Атеросклероз</b> — небезпечне захворювання, що характеризується
              жировими відкладеннями <br />(атеросклеротичними бляшками) на
              внутрішніх стінках артерій, внаслідок чого утруднюється кровотік і
              порушується харчування тканин організму. При розростанні бляшок,
              їх цілісність може порушуватися і вони перетворюються на тромби,
              що переміщуються судинами, закупорюючи просвіт. В в результаті
              розвиваються інфаркти та інсульти. Прогресування хвороби досить
              повільне, може протікати без видимих проявів кілька років. Перші
              ознаки, відчутні для людини, починаються з моменту закупорки
              просвіту більш як на три чверті. Атеросклероз можна запобігти або
              максимально знизити його темп. розвитку. Своєчасне звернення до
              фахівця допоможе запобігти важким наслідкам цього захворювання.
            </p>
          </div>
        </li>
        <li class="info-item closed" name="li4">
          <div class="info-title">
            <h2 class="section-title">Звертатися</h2>

            <button class="open" name="b4">
              <svg width="25" height="25" class="info-icon">
                <use href="{% static 'img/icons.svg' %}#plus"></use>
              </svg>
            </button>
          </div>

          <div class="info-text">
            <h3>КОЛИ ПОТРІБНО ЗВЕРТАТИСЯ ДО КАРДІОЛОГА?</h3>
            <p>
              До кардіолога потрібно звернутися кожному чоловікові старше 40 та
              жінці старше 50 років. Навіть якщо немає жодних симптомів, нічого
              не турбує і на перший погляд усе чудово. Також кардіолога потрібно
              відвідати якщо виникли симптоми, які можуть вказувати на розвиток
              серцево-судинних захворювань: біль у ділянці грудної клітини
              задишка, порушення дихання уповільнене або прискорене серцебиття
              втрата свідомості або переднепритомні стани стрибки тиску
            </p>
          </div>
        </li>
        <li class="info-item closed" name="li5">
          <div class="info-title">
            <h2 class="section-title">Лікуємо</h2>

            <button class="open" name="b5">
              <svg width="25" height="25" class="info-icon">
                <use href="{% static 'img/icons.svg' %}#plus"></use>
              </svg>
            </button>
          </div>

          <div class="info-text">
            <h3>ЯКІ ХВОРОБИ ЛІКУЄ КАРДІОЛОГ?</h3>
            <h4>ФАХІВНИК ЗАЙМАЄТЬСЯ ДІАГНОСТИКОЮ І ЛІКУВАННЯМ:</h4>
            <ul>
              <li>Ішемічної хвороби серця;</li>
              <li>Пороки серця вроджені та набуті;</li>
              <li>Кардити;</li>
              <li>Серцева недостатність;</li>
              <li>Розлад серцевого ритму;</li>
              <li>Гіпертонічна хвороба;</li>
              <li>Тромбофлебіти, тромбози;</li>
              <li>Передінфарктні стани, інфаркти;</li>
              <li>Аневризми;</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

  {% endblock %}
</main>
