{% extends 'base.html' %}
{% load static %}
{% block title %}Услуги{% endblock %}
{% block content %}
<div class="top_banner two">
    <div class="container">
        <div class="sub-hd-inner">
            <h3 class="tittle">Наши <span>услуги</span></h3>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="medicinal-w3">
    <div class="container">
        <div class="medicinal-w3-grids one">
            <table class="services">
                <tr>
                    <td class="service"><span>&#10023;Первичный прием врача-кардиолога (с регистрацией и расшифровкой
                            ЭКГ)</span></td>
                    <td class="price"><span>590грн</span></td>
                </tr>
                <tr>
                    <td class="service"><span>&#10023;Повторный прием врача-кардиолога (с регистрацией и расшифровкой
                            ЭКГ)</span></td>
                    <td><span>540грн</span></td>
                </tr>
                <tr>
                    <td class="service"><span>&#10023;Консультация врача-кардиолога на дому у пациента (с регистрацией и
                            расшифровкой ЭКГ)</span></td>
                    <td><span>990грн</span></td>
                </tr>
                <tr>
                    <td class="service"><span>&#10023;Регистрация и расшифровка ЭКГ</span></td>
                    <td><span>220грн</span></td>
                </tr>
                <tr>
                    <td class="service"><span>&#10023;Регистрация и расшифровка ЭКГ с ритмограммой</span></td>
                    <td><span>290грн</span></td>
                </tr>
                <tr>
                    <td class="service"><span>&#10023;Суточное(холтеровское) мониторирование ЭКГ</span></td>
                    <td><span>550грн</span></td>
                </tr>
                <tr>
                    <td class="service"><span>&#10023;Суточное мониторирование артериального давления</span></td>
                    <td><span>450грн</span></td>
                </tr>
            </table>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="medicinal-w3-grids">

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}