{% extends "base.html" %}
{% load static %}
{% block title %}Услуги{% endblock %}

{% block imports %}
        <link rel="stylesheet" href="{% static 'css/services.css' %}" />
{% endblock %}

{% block content %}
    <main>
      <section class="section services">
        <div class="container">
          <div class="service-wrapper">
            <h1 class="section-title">Наши услуги</h1>

            <div class="prices">
              <!-- Adaptive -->
              <ul class="services-list-adaptive">
                <li class="services-item main-text">
                  Первичный приём врача-кардиолога (с регистрацией и
                  расшифровкой ЭКГ)<br />
                  590 грн
                </li>
                <li class="services-item main-text">
                  Повторный приём врача-кардиолога(с регистрацией и расшифровкой
                  ЭКГ)<br />
                  540 грн
                </li>
                <li class="services-item main-text">
                  Консультация врача-кардиолога на дому у пациента (с
                  регистрацией и расшифровкой ЭКГ)<br />
                  990 грн
                </li>
                <li class="services-item main-text">
                  Регистрация и расшифровка ЭКГ<br />
                  210 грн
                </li>
                <li class="services-item main-text">
                  Регистрация и расшифровка ЭКГ с ритмограммой<br />
                  290 грн
                </li>
                <li class="services-item main-text">
                  Суточное (холтеровское) мониторирование ЭКГ<br />
                  550 грн
                </li>
                <li class="services-item main-text">
                  Суточное мониторирование артериального давления<br />
                  450 грн
                </li>
              </ul>

              <ul class="services-list">
                <li class="services-item main-text">
                  Первичный приём врача-кардиолога (с регистрацией и
                  расшифровкой ЭКГ)
                </li>
                <li class="services-item main-text">
                  Повторный приём врача-кардиолога(с регистрацией и расшифровкой
                  ЭКГ)
                </li>
                <li class="services-item main-text">
                  Консультация врача-кардиолога на дому у пациента (с
                  регистрацией и расшифровкой ЭКГ)
                </li>
                <li class="services-item main-text">
                  Регистрация и расшифровка ЭКГ
                </li>
                <li class="services-item main-text">
                  Регистрация и расшифровка ЭКГ с ритмограммой
                </li>
                <li class="services-item main-text">
                  Суточное (холтеровское) мониторирование ЭКГ
                </li>
                <li class="services-item main-text">
                  Суточное мониторирование артериального давления
                </li>
              </ul>

              <ul class="prices-list">
                <li class="services-item main-text">590 грн</li>
                <li class="services-item main-text">540 грн</li>
                <li class="services-item main-text">990 грн</li>
                <li class="services-item main-text">220 грн</li>
                <li class="services-item main-text">290 грн</li>
                <li class="services-item main-text">550 грн</li>
                <li class="services-item main-text">450 грн</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
